# Environment
.env
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/

echo "error.txt" >> .gitignore
echo ".DS_Store" >> .gitignore
echo "**/.DS_Store" >> .gitignore
echo "transcript_formatted.txt" >> .gitignore
echo "transcript_output.txt" >> .gitignore
echo "transcript_summary.txt" >> .gitignore